<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/myou.css' />
    <link rel="stylesheet" type="text/css" href="/font/font-style.css">
  </head>
  <body>
     <header>
     	<div class="tool-bar">
     		<div class="container">
           <div class="row">
            <div class="col-md-4 col-sm-4">
              <p>
                电话:<i class="fa fa-phone"></i>023 623
              </p>
            </div> 
            <div class="col-md-8 col-sm-8">
               
            </div> 
        </div>
        </div>
     	</div>
     	<div class="logo-links">
     		
     	</div>
     </header>
     <section></section>
     <footer></footer>
  </body>
</html>
